.form {
  background-color: burlywood;
  padding: 1rem;
  padding-right: 50px;
  width: 20rem;
 
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #a46a32;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: peru;
  color: white;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.actions button, .cancelButton {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: peru;
  color: white;
}

.cancelButton {
  background-color: transparent;
  text-decoration: none;
}

.cancelButton:hover {
  background-color: peru;
  text-decoration: none;
}
.actions button:hover {
  background-color: transparent

}

.actions button[type='button'] {
  background-color: transparent;
}

.actions button[type='button']:hover {
  color:#a46a32
}